<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunflower.luwe">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".helpers.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>
        <activity android:name="com.sunflower.luwe.activities.Dashboard"></activity>
        <activity android:name="com.sunflower.luwe.activities.CreateNewPassword" />
        <activity android:name="com.sunflower.luwe.activities.ForgotPassword" />
        <activity android:name="com.sunflower.luwe.activities.VerifyPhoneNumber" />
        <activity android:name="com.sunflower.luwe.activities.Signup" />
        <activity android:name="com.sunflower.luwe.activities.Signin" />
        <activity android:name="com.sunflower.luwe.activities.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>